workflow_3.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e903ba99-6c8d-4f40-8808-47136b1f817c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "740c68e9-4938-4d7b-bea4-54e888d057d4",
      "name": "Webhook",
      "webhookId": "e903ba99-6c8d-4f40-8808-47136b1f817c"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Return your final analysis ONLY as a JSON object with the following keys. Do not include any markdown formatting, backticks, or extra conversational text.\n\n{\n  \"ticket_id\": \"string\",\n  \"urgency\": \"High\" | \"Medium\" | \"Low\",\n  \"suggested_routing\": \"Priority Concierge\" | \"Premium\" | \"Standard\",\n  \"fee_waived\": true | false,\n  \"required_verification\": [\"item1\", \"item2\"],\n  \"draft_reply\": \"string\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "019250da-f33d-4d4c-9504-fc944a7f1a13",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        64,
        208
      ],
      "id": "2ebdedf0-8b57-47ee-b708-a8548a5f0d89",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "AvuxrXZcJfalJN27",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.output).suggested_routing }}",
                    "rightValue": "Priority Concierge",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7e907aee-c1df-4ef1-a222-408ca37b860b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VIP Track"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "124b672d-8eda-4743-8177-2ddff85982a7",
                    "leftValue": "={{ JSON.parse($json.output).suggested_routing }}",
                    "rightValue": "Premium",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Premium Track"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "056b174f-7026-4926-9767-d1515244ef9a",
                    "leftValue": "={{ JSON.parse($json.output).suggested_routing }}",
                    "rightValue": "Standard",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Standard Track"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "081800de-33b0-49b4-a41a-32f52999f38e",
      "name": "Switch"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to search for banking compliance policies regarding expedited shipping fees and temporary address fraud verification requirements.",
        "qdrantCollection": {
          "__rl": true,
          "value": "=banking_sops",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        416,
        272
      ],
      "id": "84fcd349-a95f-405e-b0f4-c3c17fe9251a",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "s3pptKvvFUqjc5xh",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        608
      ],
      "id": "c708f16d-e05f-42cb-89dd-6f8c719e51c5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a2ea396-80a5-4460-a133-85ede7eafe17",
              "name": "sop_text",
              "value": "STANDARD OPERATING PROCEDURE: EXPEDITED CARD REPLACEMENT Policy ID: CRM-SOP-092  Standard Tier Customers: Standard tier customers requesting an expedited replacement card to their primary billing address are subject to a $25.00 USD expedited shipping fee. If the customer is traveling and requesting shipment to a temporary address (e.g., a hotel), the $25.00 fee applies, and the agent MUST collect the Hotel Name, Room Number, and Checkout Date for fraud prevention.  Premium Tier Customers: Premium tier customers receive one (1) waived expedited shipping fee per calendar year. Shipping to temporary addresses requires the same fraud prevention data (Hotel Name, Room Number, Checkout Date).  VIP / Priority Concierge Customers: VIP customers have all expedited shipping fees waived automatically ($0.00). Replacement cards are shipped via Priority Overnight. No additional fraud checks are required for temporary addresses as VIPs utilize biometric app verification.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        608
      ],
      "id": "bd0a8399-5826-467c-8e83-eeea924b4aa1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "=banking_sops",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        464,
        608
      ],
      "id": "5f726df9-ab43-40c9-be12-1aabfa7b5087",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "s3pptKvvFUqjc5xh",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        608,
        816
      ],
      "id": "12d19c11-b2b3-466d-99f2-99648ab2a02f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        432,
        800
      ],
      "id": "a5713cd7-054f-4c31-a6fc-64f3cd468354",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "AvuxrXZcJfalJN27",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        400
      ],
      "id": "f3aa439a-8a31-4689-ae9e-a397c081591d",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "AvuxrXZcJfalJN27",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "387db0ac-9d89-4382-aef2-3b697ea1c66e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f07ac9dd38414895ff9b2677eb3473800369330d6fcada6ff2b29726df910b1"
  },
  "nodeGroups": [],
  "id": "O77lNpy4ydQWd1ud",
  "tags": []
}