workflow_5.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e903ba99-6c8d-4f40-8808-47136b1f817c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        -128
      ],
      "id": "740c68e9-4938-4d7b-bea4-54e888d057d4",
      "name": "Webhook",
      "webhookId": "e903ba99-6c8d-4f40-8808-47136b1f817c"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please process this incoming customer support ticket:\n\nTicket ID: {{ $json.ticket_id }}\nCustomer Tier: {{ $json.customer_tier }}\nMessage: {{ $json.message }}",
        "options": {
          "systemMessage": "Return your final analysis ONLY as a JSON object with the following keys. Do not include any markdown formatting, backticks, or extra conversational text.\n\n{\n  \"ticket_id\": \"string\",\n  \"urgency\": \"High\" | \"Medium\" | \"Low\",\n  \"suggested_routing\": \"Priority Concierge\" | \"Premium\" | \"Standard\",\n  \"fee_waived\": true | false,\n  \"required_verification\": [\"item1\", \"item2\"],\n  \"draft_reply\": \"string\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "019250da-f33d-4d4c-9504-fc944a7f1a13",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        208,
        176
      ],
      "id": "2ebdedf0-8b57-47ee-b708-a8548a5f0d89",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "KdFFpdNJ8CFpROck",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.output).suggested_routing }}",
                    "rightValue": "Priority Concierge",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7e907aee-c1df-4ef1-a222-408ca37b860b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VIP Track"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "124b672d-8eda-4743-8177-2ddff85982a7",
                    "leftValue": "={{ JSON.parse($json.output).suggested_routing }}",
                    "rightValue": "Premium",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Premium Track"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "056b174f-7026-4926-9767-d1515244ef9a",
                    "leftValue": "={{ JSON.parse($json.output).suggested_routing }}",
                    "rightValue": "Standard",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Standard Track"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        560,
        -16
      ],
      "id": "081800de-33b0-49b4-a41a-32f52999f38e",
      "name": "Switch"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to search for banking compliance policies regarding expedited shipping fees and temporary address fraud verification requirements.",
        "qdrantCollection": {
          "__rl": true,
          "value": "=banking_sops",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        288,
        -256
      ],
      "id": "84fcd349-a95f-405e-b0f4-c3c17fe9251a",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "s3pptKvvFUqjc5xh",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        608
      ],
      "id": "c708f16d-e05f-42cb-89dd-6f8c719e51c5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a2ea396-80a5-4460-a133-85ede7eafe17",
              "name": "sop_text",
              "value": "STANDARD OPERATING PROCEDURE: EXPEDITED CARD REPLACEMENT Policy ID: CRM-SOP-092  Standard Tier Customers: Standard tier customers requesting an expedited replacement card to their primary billing address are subject to a $25.00 USD expedited shipping fee. If the customer is traveling and requesting shipment to a temporary address (e.g., a hotel), the $25.00 fee applies, and the agent MUST collect the Hotel Name, Room Number, and Checkout Date for fraud prevention.  Premium Tier Customers: Premium tier customers receive one (1) waived expedited shipping fee per calendar year. Shipping to temporary addresses requires the same fraud prevention data (Hotel Name, Room Number, Checkout Date).  VIP / Priority Concierge Customers: VIP customers have all expedited shipping fees waived automatically ($0.00). Replacement cards are shipped via Priority Overnight. No additional fraud checks are required for temporary addresses as VIPs utilize biometric app verification.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        608
      ],
      "id": "bd0a8399-5826-467c-8e83-eeea924b4aa1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "=banking_sops",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        208,
        608
      ],
      "id": "5f726df9-ab43-40c9-be12-1aabfa7b5087",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "s3pptKvvFUqjc5xh",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        256,
        464
      ],
      "id": "12d19c11-b2b3-466d-99f2-99648ab2a02f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        800
      ],
      "id": "a5713cd7-054f-4c31-a6fc-64f3cd468354",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "AvuxrXZcJfalJN27",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "a8e81a89-0043-4a60-b9ea-99005159ee26",
              "leftValue": "={{ $json.waiver_count }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        0
      ],
      "id": "3ddeaa1b-f6c1-4282-a430-eaa246c7a467",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40e1eafd-3515-488c-9512-7de0cf84533f",
              "name": "email_draft",
              "value": "Good news! As a Premium member, we have applied your annual fee waiver. A replacement card is being shipped to you free of charge.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        -80
      ],
      "id": "a8244767-9b37-4c2c-b1ac-44a9a3324420",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "762e2b29-fc32-4bd9-8c86-8cbdad620dee",
              "name": "email_draft",
              "value": "We received your replacement request. It looks like you've already utilized your free annual replacement. To expedite your new card, please pay the standard $25 replacement fee here: https://buy.stripe.com/mock-payment-link-123",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        80
      ],
      "id": "496f1fc3-eb4d-47ed-9fbc-a881ca0bdf63",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "subject:\"Ticket\""
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -176,
        160
      ],
      "id": "8e180afb-3288-4bd9-bd61-353843e32f20",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "SkHWC8g3dW7UEkZl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let processedMessage, generatedTicketId, assignedTier;\n\n// ROUTING LOGIC: Webhook or Gmail\nif ($input.item.json.body) {\n  // WEBHOOK\n  processedMessage = $input.item.json.body.message;\n  generatedTicketId = $input.item.json.body.ticket_id;\n  assignedTier = $input.item.json.body.customer_tier;\n  \n} else {\n  // GMAIL \n  processedMessage = $input.item.json.snippet || \"\";\n  generatedTicketId = `TCK-${Math.floor(1000 + Math.random() * 9000)}`;\n  assignedTier = \"Standard\"; // Hardcoded for this demo track\n}\n\n// Return\nreturn {\n  json: {\n    message: processedMessage,\n    ticket_id: generatedTicketId,\n    customer_tier: assignedTier\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        0
      ],
      "id": "fa9afde6-efa0-42f3-a898-38ea11803e67",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/77fb9407-5dd2-40b5-97b7-e8f76752a411",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_action\": \"create_shipment\",\n  \"reference_ticket\": \"{{ $('Code in JavaScript').item.json.ticket_id }}\",\n  \"customer_tier\": \"{{ $('Code in JavaScript').item.json.customer_tier }}\",\n  \"logistics\": {\n    \"carrier\": \"FedEx\",\n    \"shipping_speed\": \"{{ $('Code in JavaScript').item.json.customer_tier === 'Premium' ? 'Priority_Overnight' : 'Standard_Ground' }}\",\n    \"signature_required\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1488,
        0
      ],
      "id": "7ef2f930-d18b-4fc8-85cc-c077aadcc1d9",
      "name": "Generate Shipping Label"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re: Support Request - {{ $('Code in JavaScript').item.json.ticket_id }}",
        "message": "={{ JSON.parse($('AI Agent').first().json.output).draft_reply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        272
      ],
      "id": "693046d2-bcad-48b0-bb47-e6db8bdf3e14",
      "name": "Create a draft",
      "webhookId": "af0ace17-12a8-4af0-a6b3-a53f1897b978",
      "credentials": {
        "gmailOAuth2": {
          "id": "SkHWC8g3dW7UEkZl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "from": "+16235213727",
        "to": "+16235213727",
        "message": "=Premium Alert: Your replacement card ({{ $('Code in JavaScript').item.json.ticket_id }}) has been shipped via Priority Overnight.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1648,
        0
      ],
      "id": "4537e46b-bdb5-4a9c-85a1-dac8ba4f0f7a",
      "name": "Twilio (SMS)",
      "credentials": {
        "twilioApi": {
          "id": "xoTSieVthxGNFk0I",
          "name": "Twilio account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        -112
      ],
      "id": "f3aa439a-8a31-4689-ae9e-a397c081591d",
      "name": "Embeddings",
      "credentials": {
        "googlePalmApi": {
          "id": "AvuxrXZcJfalJN27",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#agentic-stuff",
          "mode": "name"
        },
        "text": "=*VIP ESCALATION* Ticket ID: {{ JSON.parse($json.output).ticket_id }} Tier: {{ $('Code in JavaScript').item.json.customer_tier }} Message: {{ $('Code in JavaScript').item.json.message }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        864,
        -240
      ],
      "id": "ab29f95b-c1c5-42f9-803b-f60f842bdb31",
      "name": "Slack (Instant Message to Employee)",
      "webhookId": "a325473f-8aa7-4fee-9435-783406835ac9",
      "credentials": {
        "slackApi": {
          "id": "v3nBJd8lilh7yOvZ",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS waiver_count \nFROM transactions \nWHERE customer_id = 'TCK-9999' AND fee_waived = FALSE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        0
      ],
      "id": "40089cd4-ae87-4caf-80c2-ee3e56a9f35b",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "AsKIkXNRo9n27gws",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "={{ $('Gmail Trigger').item.json.id }}",
          "mode": "id"
        },
        "issueType": {
          "__rl": true,
          "value": "={{ $('Gmail Trigger').item.json.labels[2].id }}",
          "mode": "id"
        },
        "summary": "=Support Request: {{ $('Code in JavaScript').item.json.ticket_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        848,
        272
      ],
      "id": "c284da8a-cbdc-43a8-a80f-79e7ddc801f6",
      "name": "JIRA ticket",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "RVjzJSF5JWFcOjMo",
          "name": "Jira SW Cloud account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Y3FKJvGgEzF1YJQiBWW0w47jSg7kk4cX1olqLEE9QQY",
          "mode": "list",
          "cachedResultName": "Audit Log CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y3FKJvGgEzF1YJQiBWW0w47jSg7kk4cX1olqLEE9QQY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y3FKJvGgEzF1YJQiBWW0w47jSg7kk4cX1olqLEE9QQY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ticket ID": "={{ $('Code in JavaScript').item.json.ticket_id }}",
            "Tier": "={{ $('Code in JavaScript').item.json.customer_tier }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2256,
        -16
      ],
      "id": "8a23b929-7e12-4462-abc3-2931e6b448ff",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JMJvnd90RzDbhnEj",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Slack (Instant Message to Employee)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JIRA ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Generate Shipping Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Generate Shipping Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Shipping Label": {
      "main": [
        [
          {
            "node": "Twilio (SMS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JIRA ticket": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack (Instant Message to Employee)": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio (SMS)": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f9ee57d0-d3b9-4e02-b449-631d638d1027",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f07ac9dd38414895ff9b2677eb3473800369330d6fcada6ff2b29726df910b1"
  },
  "nodeGroups": [],
  "id": "O77lNpy4ydQWd1ud",
  "tags": []
}